<div>
  <h1 class="font-bold text-2xl lg:text-4xl mb-6"><%= @beer.name %></h1>

  <div class="flex flex-row flex-wrap justify-around">
    <div class="w-[45%] md:w-[24%] border-solid border-slate-200 border-2 text-center mb-4">
      <h2 class="text-xs uppercase mt-1">Gravity</h2>
      <div class="font-bold text-[#89A2DF] text-3xl md:text-5xl my-2 md:my-4"><%= @gravity_data.last.last %></div>
    </div>
    <div class="w-[45%] md:w-[24%] border-solid border-slate-200 border-2 text-center mb-4">
      <h2 class="text-xs uppercase mt-1">Temperature</h2>
      <div class="font-bold text-[#EBA3A4] text-3xl md:text-5xl my-2 md:my-4"><%= @temp_data.last.last %>&deg;</div>
    </div>
    <div class="w-[45%] md:w-[24%] border-solid border-slate-200 border-2 text-center mb-4">
      <h2 class="text-xs uppercase mt-1">Alcohol By Volume</h2>
      <div class="font-bold text-[#7A20A9] text-3xl md:text-5xl my-2 md:my-4"><%= @beer.alcohol_by_volume %>%</div>
    </div>
    <div class="w-[45%] md:w-[24%] border-solid border-slate-200 border-2 text-center mb-4">
      <h2 class="text-xs uppercase mt-1">Apparent Attenuation</h2>
      <div class="font-bold text-[#B50020] text-3xl md:text-5xl my-2 md:my-4"><%= @beer.apparent_attenuation %>%</div>
    </div>
  </div>

  <div class="mb-12">
    <h2 class="text-xl">Specific Gravity</h2>
    <%= area_chart @gravity_data, height: "500px", min: @min_gravity, max: @max_gravity %>
  </div>

  <div class="mb-12">
    <h2 class="text-xl">Temperature</h2>
    <%= area_chart @temp_data, height: "500px", min: @min_temp, max: @max_temp, colors: ["#e06666"] %>
  </div>
</div>
